
.box[data-v-7ede56b3] {
    width: 32em;
    max-height: 80vh;
}


.icon[data-v-029c7eb8] {
    margin-left: 0.3em;
}
.shift-down[data-v-029c7eb8] {
    margin-bottom: -0.7em;
}


.section {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
.columns {
    margin-bottom: 0 !important;
}
.column {
    display: flex;
    align-items: center;
}
.pointer:hover {
    cursor: pointer;
}
.hover-highlight:hover {
    color: #3298dc;
}
.hover-highlight-danger:hover {
    color: #f14668;
}
.no-select {
    user-select: none;
}


.child[data-v-33215e82] {
    padding-left: 3em;
}
.level[data-v-33215e82] {
    margin-bottom: 0;
}
.level-right[data-v-33215e82] {
    margin-right: 1em;
}


.width[data-v-c6c3ca94] {
    width: 100%;
}
.prop-container[data-v-c6c3ca94] {
    margin-top: 0.5em;
}


.main[data-v-306e26fa] {
    padding-bottom: 0.25em;
}


.list[data-v-9480a176] {
    max-height: 60vh;
    overflow-y: scroll;
}

